  *{
    margin: 0;
    padding: 0;
  }
    table {
    width: 80%;
    border-collapse: collapse;
    background-color: rgb(5, 5, 137);
    color: white;
    margin: auto;
  }
  
  table th, table td {
    border: 1px solid #ccc;
    padding: 6px 10px;
    text-align: left;
  }
  
  button {
    padding: 5px 10px;
    cursor: pointer;
    background-color: rgb(103, 138, 244);
  }
  a{
    cursor: pointer;
    border-bottom: 1px solid black;
  }
.dropdown{
  margin: auto;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.59);
  width: 400px;
  margin-top: 20px;
  height: 150px;
}
.closebutton{
  background-color: black;
  color: white;
  margin-left: 350px;
}